
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #0a0;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #0a0;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

*,::after,::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

header {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0!important;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul {
  margin-bottom: 0;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

[type=submit],[type=reset],html [type=button] {
  -webkit-appearance: button;
}

[type=submit]::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none!important;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

.h1,h1 {
  font-size: 2.5rem;
}

.h2,h2 {
  font-size: 2rem;
}

.h3,h3 {
  font-size: 1.75rem;
}

.h4,h4 {
  font-size: 1.5rem;
}

.h5,h5 {
  font-size: 1.25rem;
}

.h6,h6 {
  font-size: 1rem;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style:preserve-3d)) {
  .carousel-item-next.carousel-item-left,  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style:preserve-3d)) {
  .active.carousel-item-right,  .carousel-item-next {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style:preserve-3d)) {
  .active.carousel-item-left,  .carousel-item-prev {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style:preserve-3d)) {
  .carousel-fade .active.carousel-item-left,  .carousel-fade .active.carousel-item-prev,  .carousel-fade .carousel-item-next,  .carousel-fade .carousel-item-prev,  .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

.align-top {
  vertical-align: top!important;
}

.align-text-top {
  vertical-align: text-top!important;
}

.border {
  border: 1px solid #dee2e6!important;
}

.border-top {
  border-top: 1px solid #dee2e6!important;
}

.border-right {
  border-right: 1px solid #dee2e6!important;
}

.border-left {
  border-left: 1px solid #dee2e6!important;
}

.border-0 {
  border: 0!important;
}

.border-top-0 {
  border-top: 0!important;
}

.border-right-0 {
  border-right: 0!important;
}

.border-left-0 {
  border-left: 0!important;
}

.justify-content-center {
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.align-content-center {
  -ms-flex-line-pack: center!important;
  align-content: center!important;
}

.position-relative {
  position: relative!important;
}

.position-absolute {
  position: absolute!important;
}

@supports ((position: -webkit-sticky) or (position:sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

.shadow {
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-none {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.h-25 {
  height: 25%!important;
}

.h-50 {
  height: 50%!important;
}

.h-75 {
  height: 75%!important;
}

.h-100 {
  height: 100%!important;
}

.px-0 {
  padding-right: 0!important;
}

.px-0 {
  padding-left: 0!important;
}

.px-1 {
  padding-right: .25rem!important;
}

.px-1 {
  padding-left: .25rem!important;
}

.px-2 {
  padding-right: .5rem!important;
}

.px-2 {
  padding-left: .5rem!important;
}

.px-3 {
  padding-right: 1rem!important;
}

.px-3 {
  padding-left: 1rem!important;
}

.px-4 {
  padding-right: 1.5rem!important;
}

.px-4 {
  padding-left: 1.5rem!important;
}

.px-5 {
  padding-right: 3rem!important;
}

.px-5 {
  padding-left: 3rem!important;
}

.text-justify {
  text-align: justify!important;
}

.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right!important;
}

.text-center {
  text-align: center!important;
}

.text-body {
  color: #212529!important;
}

.text-black-50 {
  color: rgba(0,0,0,.5)!important;
}

.visible {
  visibility: visible!important;
}

@media print {
  *,  ::after,  ::before {
    text-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  h2,  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,  h3 {
    page-break-after: avoid;
  }

@page {
    size: a3;
}

  body {
    min-width: 992px!important;
  }

  .container {
    min-width: 992px!important;
  }
}

@font-face {
  font-family: pxplus_ibm_vga8regular;
  src: url(fonts/pxplus_ibm_vga8-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: pxplus_ibm_vga9regular;
  src: url(fonts/pxplus_ibm_vga9-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: dosgamesicons;
  src: url(fonts/dosgamesicons.woff);
  font-weight: 400;
  font-style: normal;
}

.i,[class*=" i-"]:before,[class^=i-]:before {
  display: inline-block;
  font-family: dosgamesicons;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1em;
  margin-left: .2em;
  margin-right: .2em;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-link:before {
  content: '\e805';
}

.i-play:before {
  content: '\e806';
}

.i-twitter:before {
  content: '\f099';
}

.i-facebook:before {
  content: '\f09a';
}

.i-youtube:before {
  content: '\f167';
}

.i-youtube-play:before {
  content: '\f16a';
}

.i-left:before {
  content: '\e824';
}

.i-right:before {
  content: '\e821';
}

.i-mouse:before {
  content: '\e826';
}

.color-red {
  color: #f55!important;
}

.color-green {
  color: #5f5!important;
}

.color-cyan {
  color: #5ff!important;
}

.color-facebook {
  color: #3b5998;
}

.color-twitter {
  color: #00aced;
}

.color-youtube {
  color: #b00;
}

.bump-1 {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.bump-2 {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.bump1 {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.bump2 {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.bump-1,.bump-2,.bump1,.bump2 {
  display: inline-block;
}

body {
  background: url(imgs/heh2.gif) #555;
  overflow-x: hidden;
  text-decoration-skip-ink: auto;
}

.content {
  background-color: #fff;
  margin-bottom: 0;
  padding: 16px;
  position: relative;
  z-index: 0;
}

.content h2,.content h3 {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .content {
    margin-bottom: 16px;
    padding: 32px;
  }
}

header {
  background-color: #ddd;
  color: #fff;
}

header h1 {
  font-size: 400%;
  text-shadow: 3px 3px 0 rgba(0,0,0,.4);
}

header>.container {
  padding: 8px 16px 0 16px;
  position: relative;
}

@media (max-width: 767px) {
  header>.container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  header {
    background: url(imgs/bg-logo.gif) #ddd;
    background-position-y: 8px;
    margin-bottom: 16px;
  }
}

.logo-container {
  line-height: 1;
}

.logo {
  display: inline-block;
  height: 111px;
  max-width: 656px;
  width: 100%;
}

@media (max-width: 991px) {
  .logo {
  }
}

@media (max-width: 1199px) {
  .logo {
    background-position: -102px top;
  }
}

@media (max-width: 991px) {
  .logo {
    background-position: 0 top;
    background-size: 328px 56px;
    height: 56px;
    max-width: 328px;
  }
}

@media (min-width: 576px) and (max-width:767px) {
  header>.container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  header>.container {
    padding: 16px;
  }
}

@media (max-width: 767px) {
  header .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo-container {
    text-align: center;
  }

  .logo {
  }
}

.faq {
  margin-bottom: 1em;
}

.faq-a {
  display: none;
}

.faq-a .dosmenu-inner {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.faq-a a {
  color: #5ff;
}

.faq-a a:hover {
  color: #ff5;
}

.faq-a ul {
  list-style-type: square;
  padding-left: 2em!important;
}

.dosmenu {
  background-color: #00a;
  padding: 7px 3px 7px 3px;
  position: relative;
  z-index: auto;
}

.dosmenu h2 {
  background-color: #005;
  font-size: 1rem!important;
  padding: 4px 8px 2px 8px;
}

.dosmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dosmenu ul.bullets {
  margin: 0 -8px;
}

.dosmenu ul.bullets a {
  background: url(imgs/bullet.gif) top left no-repeat;
  color: #fff;
  display: block;
  padding-left: 24px;
  padding-right: 8px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.dosmenu ul.bullets a:hover {
  background-color: #55f;
  color: #fff;
}

.dosmenu--green {
  background-color: #080;
}

.dosmenu--green h2 {
  background-color: #060;
}

.dosmenu--green ul.bullets a:hover {
  background-color: #4b4;
}

.dosmenu--shadow:after {
  background-repeat: repeat;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 16px;
  right: -16px;
  width: 100%;
  z-index: -1;
}

.dosmenu--shadow {
  margin-bottom: 32px;
}

.dosmenu--shadow:after {
  background: url(imgs/mask.gif) transparent;
}

.dosmenu-inner {
  font-family: pxplus_ibm_vga8regular,monospace;
  -webkit-font-smoothing: none;
  font-smooth: never;
  font-weight: 400!important;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
  color: #fff;
  padding: 10px 13px 7px 13px;
  position: relative;
}

@media (max-width: 991px) {
  .dosmenu--shadow:after {
    display: none;
  }
}

.content ul {
  list-style-type: square;
}

.gameBytes {
  counter-reset: gamebytes;
}

[data-toggle=popover] {
  cursor: pointer;
}

[data-toggle=popover] span {
  pointer-events: none;
}

.dosbox-container {
  min-height: 300px!important;
}

@media (max-width: 991px) {
  .dosmenu--shadow:after {
    display: none;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.dosbox-game {
  line-height: 0;
  text-align: center;
}

.dosbox-game {
  display: none;
}
